body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 40px;
}

main {
    background-color: white;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

#griglia {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cella {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border: 1px solid #999;
}